/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #3b3734;
  }
  
  /* Style the header */
  header{
  text-align:left;
  font: oswald;
  font-size: 34px;
  color: #8f001a;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #f1f1f1;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #8f001a;
    cursor:pointer;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #8f001a;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color:#f1f1f1;
  }
  
  /* style of body */
  body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #e4e4e4;
  }
  
  #Main{
    text-align: center;
    font-size: 48px;
  }
  
  /* style of signature*/
  #myName{
    color:#8f001a;
    text-decoration:underline;
  }
  
  /* style of button */
  #addCart{
    background-color: #8f001a;
    color:#f1f1f1;
    padding: 5px 12px;
  }
  #addCart:hover{
    cursor:pointer;
  }
  
  button{
    background-color: #8f001a;
    color:#f1f1f1;
    padding: 5px 12px;
  }
  
  button:hover{
    cursor:pointer;
  }
  
  
  #dietSelect:hover{
    cursor:pointer;
  }
  
  input[type='checkbox']{
    cursor:pointer;
  }