/* 
    CODE INSPIRÉ DE:
    https://stackoverflow.com/questions/15960290/css-footer-not-displaying-at-the-bottom-of-the-page/15960308
    http://www.java2s.com/Tutorials/Javascript/DOM_Object/Bold/index.htm
    https://stackoverflow.com/questions/15593850/sort-array-based-on-object-attribute-javascript
    https://carolinebarriere.github.io/SEG3125-Module2-Grocery/
*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #a9c540;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    background: grey;
    height: 80px;
}

#main {
    padding: 10px;
    padding-bottom: 40px;   /* Height of the footer */
    font-size: 2em;
}

#footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;   /* Height of the footer */
    background: grey;
}
  
#footer-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#logo {
    padding: 0px 30px;
    height: 80px;
    font-size: 4em;
    font-weight: bold;
    user-select: none;
    background-color: #0F1111;
    color: white;
}

/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
    display: flex;
    flex-wrap: nowrap;
}
 
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 2em;
    padding: 20px 20px;
}

.tab span {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 2.5em;
    padding: 20px 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0px 0px 60px 30px;
    border: 2px solid rgb(0, 0, 0); 
    background-color: rgb(237, 255, 211);
}

select {
    font-size: 1em;
}

select:hover {
    cursor: pointer;
}

button {
    user-select: none;
}

#main button {
    font-size: 1em;
    padding: 10px;
}

#main button:hover {
    cursor: pointer;
}

#displayProduct {
    text-transform: capitalize;
    user-select: none;
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 2rem 0;
    flex-wrap: wrap;
    overflow: visible;
    gap: 2rem;
}

input[type="checkbox"]
{
    -ms-transform: scale(2); 
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}


#displayProduct label {
    padding: 0px 0px 0px 20px;
    font-size: 1em;
    text-transform: capitalize;
}

label, input {
    vertical-align: middle;
}

label:hover {
    cursor: pointer;
}

input[type = "checkbox"]:hover {
    cursor: pointer;
}

#displayCart {
    text-transform: capitalize;
}

#addCart {
    background-color: greenyellow;
    transition: 1s;
}

#productCheckList {
    text-transform: capitalize;
}

#displayResProducts {
    background-color: greenyellow;
    transition: 1s;
}

.switch {
    position: relative;
    float: right;
    width: 50px;
    height: 36px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(221, 50, 50);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(146, 224, 28);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(75, 126, 0);
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

fieldset {
    width: 240px;
    border: none;
    margin-left: 0;
}

.card {
    flex-basis: 300px;
    height: 343px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 25%);
    justify-content: space-evenly;
    border: 1px solid black;
}

.price {
    padding-bottom: 20px;
}

.productName {
    padding-top: 20px;
}

.card img {
    width: 50%;
    display: block;
    margin: auto;
}

.addContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.addCheckmark {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 100%;
    background-color: #ccc;
    font-size: 80%;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    transition: .4s;
}

.addContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* On mouse-over, add a grey background color */
.addContainer:hover input ~ .addCheckmark {
    background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.addContainer input:checked ~ .addCheckmark {
  background-color: greenyellow;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 80px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}